# Python Questions
1. **Write a Python program to print "Hello, World!**

In [ ]:
print("Hello World")

Hello World

2. **Write a Python program that displays your name and age.**

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"My name is {name}, and I am {age} years old.")

Enter your name: Aditya
Enter your age: 24
My name is Aditya, and I am 24 years old.

3. **Write code to print all the pre-defined keywords in Python using the keyword library.**

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4. **Write a program that checks if a given word is a Python keyword.**

In [ ]:
import keyword

def is_keyword(word):  #checks if a given word is a python word
  return keyword.iskeyword(word)

word = input("Enter a word: ")  #gets input from the user
if is_keyword(word):  #checks if the word is a keyword
  print(f"{word} is a Python Keyword")
else:
  print(f"{word} is not a Python Keyword")

Enter a word: True
True is a Python Keyword

5. **Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.**

- List

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9]
print(my_list)    #printing the original list
my_list[0] = 10   #changing the value of 1st position
print(my_list)    #printing the list after changes so changes are possible as lists are mutable.

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 2, 3, 4, 5, 6, 7, 8, 9]

- Tuple

In [ ]:
my_tuple = (1,2,3,4,5,6,7,8,9)
print(my_tuple)    #printing the original tuple
my_tuple[0] = 10   #changing the value of 1st position
print(my_tuple)    #printing the tuple after changes, but print not executed because tuples are immutable so changes cannot be done.

(1, 2, 3, 4, 5, 6, 7, 8, 9)

TypeError: 'tuple' object does not support item assignment

6. **Write a function to demonstrate the behavior of mutable and immutable arguments.**

In [ ]:
def modify_arguments(immutable_arg, mutable_arg):
    try:
        immutable_arg += 1  # Attempting to modify the immutable argument
    except TypeError as e:
        print(f"Error modifying immutable argument: {e}")

    mutable_arg.append(4)  # Modifying the mutable argument

    print(f"Inside function: immutable_arg = {immutable_arg}, mutable_arg = {mutable_arg}")

# Call the function with sample arguments
immutable_arg = 1
mutable_arg = [1, 2, 3]

print(f"Before function call: immutable_arg = {immutable_arg}, mutable_arg = {mutable_arg}")

modify_arguments(immutable_arg, mutable_arg)

print(f"After function call: immutable_arg = {immutable_arg}, mutable_arg = {mutable_arg}")

Before function call: immutable_arg = 1, mutable_arg = [1, 2, 3]
Inside function: immutable_arg = 2, mutable_arg = [1, 2, 3, 4]
After function call: immutable_arg = 1, mutable_arg = [1, 2, 3, 4]

7. **Write a function to demonstrate the behavior of mutable and immutable arguments.**

In [ ]:
def modify_arguments(immutable_arg, mutable_arg):
  try:
    immutable_arg +=5
  except TypeError as e:
      print(f,"Error modifying immutable argument: {e}")

  mutable_arg.append(6)
  print(f"Inside function: immutable_arg = {immutable_arg}, mutable_arg = {mutable_arg}")


immutable_arg = 1
mutable_arg = [1,2,3,4,5]

print(f"Before function call: immutable_arg = {immutable_arg}, mutable_arg = {mutable_arg}")

modify_arguments(immutable_arg, mutable_arg)

print(f"After funtion call: immutable_arg = {immutable_arg}, mutable_arg = {mutable_arg}")

Before function call: immutable_arg = 1, mutable_arg = [1, 2, 3, 4, 5]
Inside function: immutable_arg = 6, mutable_arg = [1, 2, 3, 4, 5, 6]
After funtion call: immutable_arg = 1, mutable_arg = [1, 2, 3, 4, 5, 6]

8. **Write a program to demonstrate the use of logical operators.**

In [ ]:
age = int(input("Enter your age: "))  #age is entered by the user
has_license = input("Do you have a driver's license? (yes/no): ")

if age>=18 and has_license.lower() =="yes":
  print("You are eligible to drive")
elif age < 18:
  print("You are not eligible to drive becarse you are uncer 18")
else:
  print("You are not eligible to drive because you do not have a driver's license")

Enter your age: 20
Do you have a driver's license? (yes/no): no
You are not eligible to drive because you do not have a driver's license

9. **Write a Python program to convert user input from string to integer, float, and boolean types.**

In [ ]:
def convert_to_type(value, data_type):
  try:
    if data_type == "int":
      return int(value)
    elif data_type == "float":
      return float(value)
    elif data_type == "bool":
      return bool(value)
    else:
      return None  # Invalid data type
  except ValueError:
    return None  # Invalid value for a specified data type

#gets the input from the user
input_value = input("Enter a value: ")
data_type = input("Enter the data type (int,float,bool): ")

#convert the input value
converted_value = convert_to_type(input_value, data_type)

#print the result
if converted_value is not None:
  print(f"The converted value is: {converted_value}, Type: {type(converted_value)}")
else:
  print("Invalid input or Data Type")

Enter a value: 88
Enter the data type (int,float,bool): int
The converted value is: 88, Type: <class 'int'>

10. **Write code to demonstrate type casting with list elements.**

In [ ]:
my_list = ["123", "3.14", "True", "False", "555"]  #Original list with mixed data types

integer = int(my_list[0])
floating_number = float(my_list[1])
boolean = bool(my_list[2])
boolean2 = bool(my_list[3])
integer2 = int(my_list[4])

print(f"Integer: {integer}, Type: {type(integer)}")
print(f"Floating Number: {floating_number}, Type: {type(floating_number)}")
print(f"boolean: {boolean}, Type: {type(boolean)}")
print(f"boolean2: {boolean2}, Type: {type(boolean2)}")
print(f"integer2: {integer2}, Type: {type(integer2)}")

Integer: 123, Type: <class 'int'>
Floating Number: 3.14, Type: <class 'float'>
boolean: True, Type: <class 'bool'>
boolean2: True, Type: <class 'bool'>
integer2: 555, Type: <class 'int'>

11. **Write a program that checks if a number is positive, negative, or zero.**

In [ ]:
def check_number(number):
  if number > 0:
    return "Positive"
  elif number < 0:
    return "Negative"
  else:
    return "Zero"

number = float(input("Enter a number: "))
result = check_number(number)
print(f"The number is {result}.")

Enter a number: 55
The number is Positive.

12. **Write a for loop to print numbers from 1 to 100**

In [ ]:
for i in range(1,101):
  print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

13. **Write a Python program to find the sum of all even numbers between 1 and 50**

In [ ]:
total_sum = 0  #initialize total sum to 0

for i in range(2,51,2):   #iterating through numbers from 2 to 51 with a gap of 2
  total_sum += i     #add the current even number to the sum

print(f"The sum of all even numbers between 1 to 50 is:",{total_sum})

The sum of all even numbers between 1 to 50 is: {650}

14. **Write a program to reverse a string using a while loop.**

In [ ]:
def reverse_string(text):  #reverses a string using a while loop
  reversed_string = ""
  index = len(text) -1   #starts from the last index

  while index >= 0:
    reversed_string += text[index]   # Add the character at the current index to the reversed string
    index -= 1    # Move to the previous index

  return reversed_string

input_string = input("Enter a String: ")    #gets the input from the user
reversed_string = reverse_string(input_string)   #reverse the string
print("Reversed String:", reversed_string)    #print the reversed string

Enter a String: hello
Reversed String: olleh

15. **Write a Python program to calculate the factorial of a number provided by the user using a while loop.**

In [ ]:
def factorial(number):
  """Calculates the factorial of a number using a while loop."""
  if number < 0:
    return "Factorial is not defined for negative numbers."
  elif number == 0:
    return 1
  else:
    factorial = 1
    while number > 1:
      factorial *= number
      number -= 1
    return factorial

# Get input from the user
num = int(input("Enter a non-negative integer: "))

# Calculate and print the factorial
result = factorial(num)
print(f"The factorial of {num} is {result}")

Enter a non-negative integer: 12
The factorial of 12 is 479001600